/*header*/
/* .flexbox {
  display:flex;
} */

header {

background-image: url("greyback.jpg");
max-height: 290px;

    }

.navbar {
    text-align: center;
    text-shadow: 2px 2px 5px black ;
    font-size: 20px;

    }





/* .flexbox-container {
  display:flex;
justify-content: center;
}

.flexbox-item-0{
  width: 200px;
  margin: 5px;
border: 3px solid #333;
background-color: rgb(0, 0, 0);
}

.flexbox-item-3 {
-ms-flex-align: center;
border: 3px solid #333;
text-align: center;
margin-top: 30px;;
padding-top: 20px;
min-height: 300px;
background-image:url(greyback.jpg);
color:rgb(255, 255, 255);

}
.flexbox-item-4 {
  -ms-flex-align: center;
  border: 3px solid #333;
  text-align: center;
  margin-top: 30px;;
  padding-top: 20px;
  min-height: 300px;
  background-image:url(greyback.jpg);
  color:rgb(255, 255, 255);

  } */

body {
  background-color: rgb(255, 255, 255);
}
/* .flexbox-container-2 {
  display:flex;
  height:300px;
  flex-grow: 2;



} */
.headline {
  text-align:center;
  color:white;
  font-family: font-family 'Montserrat', sans-serif;
  text-shadow: 2px 2px 5px #dfdfdf;
  font-size: 200%;
  padding-left: 430px;
  padding-right: 440px;
  padding-top:40px;
}




/* Style the active link (or home/logo) */
/* .active {
  background-color: transparent;
  color: white;
} */

footer {
  display: flex;
  justify-content: center;
}
/* sqft calculator */
label {
  font-size:14px;
  margin-right:10px;
  font-weight:700;
}

input,
#total{
  margin-bottom:15px;
}
/*dropdown*/

*{
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}
.float-right{
  float: right;
}
.fa{
font-size: .8em;
  line-height: 22px !important;
}
dropdown{
  display: inline-block;
  margin: 20px 50px;
}
dropdown label, dropdown ul li{
  display: block;
  width: px;
  background: #191919;
  opacity: 0.9;
  padding: 15px 20px;
}
dropdown label:hover, dropdown ul li:hover{
  background: #4D4D4D;
  color: white;
  cursor: pointer;
}
dropdown label{
  color: #B2B2B2;
  /*border-left: 4px solid #1ABC9C;*/
  border-radius: 0 5px 0 0;
  position: relative;
  z-index: 2;
}
dropdown input{
  display: none;
}
dropdown input ~ ul{
  position: relative;
  visibility: hidden;
  opacity: 0;
  top: -20px;
  z-index: 1;
}
dropdown input:checked + label{
  background: #4D4D4D;
  color: white;
}

dropdown input:checked ~ ul{
  visibility: visible;
  opacity: 1;
  top: 0;
}
$colors: #FFFFFF, #0072B5, #2C3E50;

@for $i from 1 through length($colors) {
  dropdown ul li:nth-child(#{$i}) {
    border-left: 4px solid nth($colors, $i);
    .fa{
      color: nth($colors, $i);
    }
    &:hover {
        background: nth($colors, $i);
        color: white;
      .fa{
        color: white;
      }
    }
  }
}

.animate{
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden; /* Chrome and Safari */
  -moz-backface-visibility:hidden; /* Firefox */
  -ms-backface-visibility:hidden; /* Internet Explorer */
}












/*calendar*/

@import url(https://fonts.googleapis.com/css?family=Lato:300);
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html, body, div, span, h1, h2, h3, p, a, form, nav, li, ul {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}
ul {
	list-style-type: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.monthname {
  width: 18em;

}
.pointer {
  cursor: pointer;
}
body {
  font-family: 'Lato',sans-serif;
  padding: 1em 0;
}
.group:after {
	content: "";
	display: table;
	clear: both;
}
.calendar p {
	margin-bottom: .5em;
	color: #FFFFFF;
}
.calendar {
	background: #222;
	color: #ddd;
	padding: .5em .5em 1em;
	max-width: 20em;
	min-height: 15em;
	margin: .5em auto;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.calendar li {
	float: left;
	width: -webkit-calc(100%/7);
	text-align: center;
	padding: .25em 0;
	cursor: pointer;
	border-bottom: 1px solid #444;
}
.calendar li:hover, .calendar li.red {
	color: red;
}
.calendar li:nth-child(-n+7) {
	color: #666;
}
.center {
	text-align: center;
}
/* resources page  */
#res1 {

  text-align: center;
  color: rgb(12, 12, 12);
}
#res2 {
  text-align: center;
  color: rgb(12, 12, 12);
}
#res3 {
  text-align: center;
  color: rgb(12, 12, 12);
}
.flex-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(27, 27, 27);
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 30px;
  padding: 20px;
  font-size: 30px;
}
/* This is for the resources page  */

.reshead {
  text-align: center;
}

.FORM {
text-align: center;
background-color: grey;
}
.contact {
text-align: center;
background-color: grey;
}

/* Login page  */


.flexbox-login {
  text-align: center;
  padding-bottom: 40px;
  }
.logheader {
  padding-bottom: 40px;
text-align: center;
}
.loginbody {
background-image: url("painter.jpeg");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-color: lightgrey;
padding-bottom: 70px;
}
.flexbox-login > .button1 {
  padding-bottom: 220px;
}

.costbystate {
  padding-top: 30px;

  /* hamburger bar*/
}
@media (max-width: 550px){
  .hidden--mobile {
    display: none;
  }
}
@media (min-width: 550px){
  nav > .fa-bars{
    display: none;
  }
}


.headerBar{
  display: flex;
  flex-flow: row;
}
.headerImage {
  height: auto;
}
.calculate {
  text-align: center;
}
.findpage {
  text-align: center;
}

