/*header*/
/* .flexbox {
  display:flex;
} */

header {
background-image: url("greyback.jpg");
max-height: 290px;

}







/* .flexbox-container {
  display:flex;
justify-content: center;
}

.flexbox-item-0{
  width: 200px;
  margin: 5px;
border: 3px solid #333;
background-color: rgb(0, 0, 0);
}

.flexbox-item-3 {
-ms-flex-align: center;
border: 3px solid #333;
text-align: center;
margin-top: 30px;;
padding-top: 20px;
min-height: 300px;
background-image:url(greyback.jpg);
color:rgb(255, 255, 255);

}
.flexbox-item-4 {
  -ms-flex-align: center;
  border: 3px solid #333;
  text-align: center;
  margin-top: 30px;;
  padding-top: 20px;
  min-height: 300px;
  background-image:url(greyback.jpg);
  color:rgb(255, 255, 255);

  } */

  html, body, {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;

}
/* .flexbox-container-2 {
  display:flex;
  height:300px;
  flex-grow: 2;



} */
.headline {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding-right: 160px;
  color:white;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px 5px #dfdfdf;
  font-size: 200%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}

/* footer and price page */

footer {
  display: flex;
  justify-content: center;
}

/* sqft calculator */
label {
  font-size:14px;
  margin-right:10px;
  font-weight:700;
}

input,
#total{
  margin-bottom:15px;
}
.price-instructions{
  font-family:'Montserrat', sans-serif;
  font-size: medium;
  background-color:inherit;
  background-size: cover;

}
/*dropdown*/
/* dropdown{
  display: inline-block;
  margin: 20px 50px;
}
dropdown label, dropdown ul li{
  display: block;
  width: px;
  background: #191919;
  opacity: 0.9;
  padding: 15px 20px;
}
dropdown label:hover, dropdown ul li:hover{
  background: #4D4D4D;
  color: white;
  cursor: pointer;
}
dropdown label{
  color: #B2B2B2;
  border-left: 4px solid #1ABC9C;
  border-radius: 0 5px 0 0;
  position: relative;
  z-index: 2;
}
dropdown input{
  display: none;
}
dropdown input ~ ul{
  position: relative;
  visibility: hidden;
  opacity: 0;
  top: -20px;
  z-index: 1;
}
dropdown input:checked + label{
  background: #4D4D4D;
  color: white;
}

dropdown input:checked ~ ul{
  visibility: visible;
  opacity: 1;
  top: 0;
}
$colors: #FFFFFF, #0072B5, #2C3E50;

@for $i from 1 through length($colors) {
  dropdown ul li:nth-child(#{$i}) {
    border-left: 4px solid nth($colors, $i);
    .fa{
      color: nth($colors, $i);
    }
    &:hover {
        background: nth($colors, $i);
        color: white;
      .fa{
        color: white;
      }
    }
  }
}

.animate{
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden; /* Chrome and Safari */
  /*-moz-backface-visibility:hidden;*/ /* Firefox*/
 /* -ms-backface-visibility:hidden; /*Internet Explorer*/

/* resources page  */
.reshead {
  font-family:'Montserrat', sans-serif;
  text-align: center;
  padding-top:40px;

}
#res1 {
  font-family:'Montserrat', sans-serif;
  text-align: center;
  font-size: xx-large;
  color: black;
  /* border: 1px solid; */
  padding: 0.5rem 0.5rem;
  border-radius: 15px;
  background-image:url(craftsman.jpg);
  background-size: cover;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  width:550px;
  height:770px;

  align-self: center;
}
.res2 {
  text-align: center;
  color: black;
  font-family:'Montserrat', sans-serif;
  /* border: 1px solid; */
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  background-color: white;
  /* background-image: url(screws.jpg); */
  background-size: cover;
  height: 675px;
  width: 800px;
  align-self: center;
}
.resimg {
  background-image: url(rolling.jpg);
  background-size: cover;
  border-radius: 30px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}
.resimg2 {
  /* background-image:url(craftsman.jpg);
  background-size: cover; */
  border-radius: 30px;
  height: 400px;
  width: 600px;
}
/* #res2 span {
  background-color:rgba(255, 255, 255, 0.8);
  }*/
#res3 {
  text-align: center;
  color: black;
  background-color: white;
  font-family:'Montserrat', sans-serif;
  font-size:30px;
  /* border: 1px solid; */
  padding: 0.5rem 0.5rem;
  /* border-radius: 5px; */
  /* background-size: cover; */
  /* height: 590px;
  width: 550px; */
  align-self: center;
}
span {
background-color:rgba(255, 255, 255, 0.8);
color:black;
border-radius: 4px;
}
/* #res3 span {
background-color:rgba(255, 255, 255, 0.8);
}*/

.flex-container {
  display: flex;
  flex-direction:column;

  /* background-image: url(mudknife.jpg); */
  /* background-color: white; */
  /* background-size: cover; */

}
.flex-container > .resimg {
  justify-self: center;
  background-size: cover;
  height:600px;
  width: 900px;
  padding-left:0;
  padding-right:0;
}
.flex-container > div {
  /* background-color: #f1f1f1; */
  margin: 30px;
  padding: 20px;
  font-size: 30px;
  height:min-content;}
/* This is for the resources page  */

.FORM {
text-align: center;
background-color: lightgrey;
}
.contact {
text-align: center;
background-color: lightgrey;
}

/* Login page  */


.flexbox-login {
display: flex;
justify-content: center;
flex-grow: 4;
justify-content: space-evenly;
  }
.logheader {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right:30px;
text-align: center;
background-color:rgba(255, 255, 255, 0.5);
}
.whatareyou {
text-align: center;
padding-top: 5px;
background-color: rgba(255, 255, 255, 0.5);

}
.loginbody {
background-image: url("painter.jpeg");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-color: lightgrey;
padding-bottom: 70px;
font-family:'Montserrat', sans-serif;
padding-top:60px;
}
/* .flexbox-login {
  padding-bottom: 220px;
} */
.flexbox-login > .button1 {
  padding:9px;
}
.costbystate {
  padding-top: 30px;
}
  /* hamburger bar*/

.headerBar{
  display: flex;
  flex-flow: row;
}


.headerImage {
  height: auto;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}
.calculate {
  text-align: center;
  padding-top:100px;
}
.calculate > h1 {
  font-family:'Montserrat', sans-serif;
  color:black;
  background-color:black;
  animation: mymove 5s infinite;
  border-radius: 10px;


}
/* #findpage {
  text-align: center;
  background-color: lightgrey;
  border-style: inset;
} */
.submit-find {
  padding-bottom:90px;
  font-size: larger;
  text-align: center;
  font-family:'Montserrat', sans-serif;
}
#findpage{
  text-align: center;
  background-image: url(drill.jpg);
  background-size: cover;
  /* background: darkgrey; */
  /* animation: mymove 5s infinite; */
  border-style: inset;
}

/* @keyframes mymove {
  50% {background-color: rgba(255,255,255, 0.5);} */
/* } */
.findcontractor {
  color: white;
  font-family:'Montserrat', sans-serif;
  padding-bottom: 30px;
  padding-top: 49px;
  text-shadow: 2px 2px grey;
}


/* home page */
.weatherapi {
  /* background-image: url(greyback.jpg); */
  color: black;
  font-family:'Montserrat', sans-serif;
font-weight: bold;

}

.welcomegreeting {
  text-align: center;
  padding: 40px;
  text-shadow: 2px 2px rgb(212, 212, 212);
  background: rgba(255,255,255, 0.5);
  font-family:'Montserrat', sans-serif;
  border-radius: 17px;
  border-style: groove;
  padding-top:37px;

}

#home-body {
  background-image: url("homeowner.jpg");
  background-size: cover;
  font-family:'Montserrat', sans-serif;
  padding-left:90px;
  padding-right: 90px;
  align-content: space-between;

}

.home-page-par1 {
  display: flex;
  justify-content: center;
  padding-left:90px;
  padding-right: 90px;
    /* max-width: 550px;
    padding: 40px;
    padding-left: 300px;
    padding-right: 300px; */
  border-style: groove;
  border-radius: 17px;
  background: rgba(255,255,255, 0.6);
    }

.home-page-par2 {
  display: flex;
  justify-content: center;
  flex-shrink:3;
  padding-left:90px;
  padding-right: 90px;
  /* max-width: 550px;
  padding: 40px;
  padding-left: 300px;
  padding-right: 300px; */
  border-style: groove;
  border-radius: 17px;
  background: rgba(255,255,255, 0.6);
  }
/* Contractor page */
#cname {
  padding-right: 38px;
}
#phone {
  padding-right:100px;
}
#form1 {
  padding-top:19px;
  font-size: larger;
  font-family:'Montserrat', sans-serif;
}
#trade {
padding-right:51px;
padding-top: 0px;
font-size: larger;
text-align: center;
padding-right:40px;
}
.trade-find{
  text-align: center;
  padding-top:19px;
  padding-right:24px;
  font-size: larger;
  font-family:'Montserrat', sans-serif;

}
#location {
  padding-right:0px;
  font-size: 28px;
  text-align: center;

}

.cont-page {
  text-align: center;
}
#cont-page-location {
  font-size: 19px;
}

#cont-info {
  text-align: center;
  padding-left: 150px;
  padding-right: 150px;
  border-style: inset;
  color:white;
  background-color: black;
  text-shadow: 2px 2px grey;
  animation: mymove 5s infinite;
  font-family:'Montserrat', sans-serif;
  height:120px;
}
#cont-info > h1 {
padding-top: 10px

}
  #cont-info:hover{
    color: black;
    font-family:'Montserrat', sans-serif;
    background-color:whitesmoke;
  }

@keyframes mymove {
  88% {background-color: white;}
}

.cont-body {
  text-align: center;
  font-family:'Montserrat', sans-serif;
  /* background-color:rgba(255,255,255, 0.5); */
  background-image: url(worker.jpg);
  background-size: cover;
}

.citystate {
padding-left: 1px;
padding-right:6px;
}

.submit-contractor {
padding-bottom: 190px;
font-family:'Montserrat', sans-serif;
font-size: larger;
color:black;
}

#trade-contractor-page {
  font-family:'Montserrat', sans-serif;
  font-size: 19px;
  color:black;
}
#lname {
  padding-right: 0px;
}
#cname {
  padding-left: -70px;
  padding-right: 40px;
}
#phone {
  padding-left: -100px;
  padding-right: 50px;
}
/* end contractors page */


/* nav */
/* nav > ul {
  width: 80%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left:122px;
  padding-top:180px;
  /* padding-top: 175px; */
 /* position:fixed; */


 /* top:0;
  z-index: 1030; to prevent the navbar getting covered up by other content
 } */
nav > ul {
  display: flex;
  color:white;
  justify-content: space-evenly;
  padding: 1rem 0.9rem;
  height:20px;
  background-color: white;
   /* background-color: rgba(255,255,255, 0.2); */
  /*experiment nav follow page*/
  /* position: fixed; */
  /* top: 0; */
  /* z-index: 1030; to prevent the navbar getting covered up by other content */
}

nav > ul > li {
  display: inline-block;
  text-decoration-color: black;
  /* border: 1px solid; */
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  /* background-color: rgba(255,255,255, 0.5); */
  font-size:large;

}

/* default link */
a:link {
  color:black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
}
/* visited link */
a:visited {
  color: black;
  font-size:x-large;
}

/* mouse over link */
a:hover {
  color: black;
  font-family:'Montserrat', sans-serif;
  font-size:xx-large;
  background-color:whitesmoke;
  transition: 0.3s;
}

/* selected link */
a:active {
  color: grey;
  font-size: x-large;
}

/* footer and price page */

footer {
  display: flex;
  justify-content: center;
  background-color:rgb(212, 212, 212);
  padding-bottom: 20px;
}
footer > a {
  color:rgb(12, 12, 12);
}

#prices-by-state{
  padding-bottom: 30px;
}

@media (max-width: 550px){
  .headline{
    text-align:center;
    /* at mobile background color switch */


}
  }

@media (max-width: 550px){
  .headerImage{
    display: none;
}
nav > ul {
  flex-direction: column;
}
  }

  @media (max-width: 550px) {
    .hidden--mobile {
      display: none !important;
    }
  }

  @media (min-width: 550px){
  nav > ul {
    display: flex;

  }
  .fa-bars{
    display: none;
  }
  }
  @media (max-width: 550px){
    .headerImage{
      text-align:justify;
      background-color: white;
      color:black;
      text-shadow: 6px;
  }
    }
    @media (max-width: 550px){
    a:link {
      background-color: white;
      color:black;
border-radius: 7px;

    }}
@media(max-width: 550px) {
  .headline {
    padding:0;
}
}
@media(max-width: 550px) {
  .cont-body {
    display: flex;
flex-direction: column;

}}
@media(max-width: 550px) {
.resimg {
display: none;
}
}
@media(max-width: 550px) {
.res2 {
padding:0px;
 width: 290px;
padding-top:40px;
}
}
@media(max-width: 550px) {
#res1 {
  width:290px;
  /* position: absolute; */
  padding-bottom: 50px;
}
}
@media(max-width: 550px) {
.home-page-par1 {
  display: flex;
  justify-items: center;
  padding:0px;
}}
@media(max-width: 550px) {
  .home-page-par2 {
    display:flex;
  justify-items: center ;
  padding-left:0px;
  padding-right:0px;

  }
}
@media(max-width: 550px) {
#home-body {
  justify-items: center;
  padding:0px;
}
}
@media(max-width:550px) {
#location {
  padding:0px;
  width:350px;

}
}
@media(max-width:550px) {
#cont-info {
  /* display: inline-flex; */
  width:408px;
  align-items: center;
  padding:0px;
  font-size:10px;
  justify-items:center;

}
}
/*  */
/* @media(max-width:550px) {
.flex-container > div > h3{
  width:9px;
  text-align:center

 }
} */
@media(max-width:550px){
.reshead{
  padding-top:0px;
}
}
@media(max-width:550px) {
  .citystate{
align-items: center;
  }
}
